.container {
    font-family: "Mont";
    font-weight: 700;
}

.team_card {
    background-color: #ECEAEA;
    border-radius: 10px;
    font-size: 24px;
    width: 60vw;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 80px;
    margin-top: 20px;
    max-width: 380px;
    min-height: 240px;
}

.team_card div {
    color: #000000;
    font-size: 24px;
}

.comment_btn {
    min-width: 220px;
    width: 10vw;
    max-height: 41px;
    font-size: 16px;
    margin: 0;
}

.team_name {
    font-size: 18px;
    color: #545454;
}

.team_skills {
    font-size: 16px;
    color: #545454;
}

.team_member {
    font-size: 14px;
    color: #545454;
    height: 18px;
}

.team_role {
    font-size: 14px;
    color: #7A7979;
    height: 18px;
    margin-bottom: 2px;
}

.team_projectTitle {
    font-size: 16px;
    color: #545454;
}