.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;  
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  margin: auto;
  color: #000000;
  font-weight: bold;
  zoom: 0.75;
}

.modal-main {
  position: fixed;
  background: #F3F3F3;
  width: 50rem;
  height: 90%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 60px;
}

.modal-box {
  padding: 1rem 2rem;
  transform: translate(0, -25px);
}


.modal.display-none {
  display: none;
}

hr {
  border: 2px black solid;
}

.close-button {
  background: none;
  border: none;
  width: 36px;
  height: 36px;
  margin-left:  auto;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.close-button-img {
  margin: 0;
}

.modal-project {
  width: 1250px;
}