.switch_btn {
    color: #FF0000;
    background-color: none;
    margin-top: 10px;
}

button {
    width: 240px;
    height: 40px;
    margin: 0 auto;
    margin-top: 40px;
    
}

.auth_btn{
    margin-bottom: 20px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
}

label {
    color: #000000;
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.title_container {
    display: flex;
}

.title_container button {
    margin: 0;
}

.title_container label:first-of-type {
    width: 100%;
}

.sso_enabled {
    width: 53px;
    height: 34px;
}

.sso_disabled {
    width: 53px;
    height: 34px;
    background-color: #d5d4d4;
    border: 3px solid #848484;
}


.title {
    color: #000000;
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
}

.secondary_title {
    color: #000000;
    margin-left: 10px;
    margin-top: 10px;
}

.wrapper{
    height: 100%;
    display: grid;
    place-items: center;
}

.form_control {
  display: block;
  background-color: #ECEAEA;
  font-weight: normal;
  font-size: 20px;
  padding: 15px 0;
  line-height: 1.25;
  text-align: left;
  padding-left: 16px;
  border-radius: 10px;
  border: black solid 2px;
  width: 560px;
  outline: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  
  
  &-primary {
    color: black;
  }
}