.sidebar {
    height: 100vh;
    width: 26vw;
    position: fixed;
    max-width: 300px;
    background-color: #D6D5D5;
    color: #000000;
    overflow: none;
    
}

.closed {
    display: none;
}

img {
    margin-right: 30px;
    margin-left: 50px;
    transform: translate(0px, 4px)
}

nav {
    margin-top: 0px;
}

ul {
    margin-left: 0px;
    padding-left: 30px;
}

ul label {
    padding: 10px 0 0 0;
}

