.wrapper {
    display: flex;
    flex-direction: row;
}

.cards {
    color: #545454;
    margin-left: 50px;
}

label {
    margin: 0 ;
}

button {
    margin-bottom: 0;
}

.sidebar_btn {
    margin-top: 0;
}

.sidebar_btn_2 {
    font-size: 20px;
    max-width: 300px;
    max-height: 50px;
}

.main {
    margin-top: 80px;
}

.title {
    color: #000000;
    font-size: 28px;
}

.modal-title {
    font-size: 36px;
    text-align: center;
    padding-bottom: 70px;
}

.modal-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
}

.modal-group div {
    width: 82%;
}

.add-stack-button {
    color: #FF0000
}

a {
      height: 66px;
    display: flex;
    align-items: center;
}