.wrapper {
    display: flex;
    flex-direction: row;
}

.cards {
    color: #545454;
    margin-left: 50px;
}

label {
    margin: 0 ;
}

button {
    margin-bottom: 0;
}

.sidebar_btn {
    margin-top: 0;
    font-size: 16px;
    width: 100%;
}

.main {
    margin-left: 20vw;
}

.sidebar_btn_2 {
    font-size: 16px;
    max-width: 200px;
    max-height: 40px;
    margin: 0;
}

.teams_title {
    display: flex;
    justify-content: space-between;
}

.main {
    margin-top: 40px;
}

.title {
    color: #000000;
    font-size: 28px;
}

.modal-title {
    font-size: 28px;
    text-align: center;
    padding-bottom: 10px;
}

.modal-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
}

.modal-group div {
    padding-left: 30px;
}

.modal-group div {
    width: 82%;
}

.add-stack-button {
    color: #FF0000
}

.add_input {
    font-size: 16px;
    padding: 10px 5px;
}

.marked {
    color: black;
    font-weight: 700;
}